<header>
    <h1>Create a Game</h1>
</header>
<div class="container">
    <p>
        Enter your name to create a New game, and share the link with a friend to start playing.
    </p>

    <form (ngSubmit)="createGame()" #gameForm="ngForm">
        <div class="form-group">
            <label for="playerName">Player Name:</label>
            <input class="form-control" name="playerName" id="playerName" type="text" 
                    [(ngModel)]="createGameModel.playerName" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!gameForm.form.valid">Create Game</button>
    </form>
</div>
<div class="container">
    <ul *ngIf="gameModel" class="list-group">
        <li class="list-group-item">
            <span>Copy link below and share with a friend</span><br/>
            {{ getInviteUrl() }}
        </li>
        <li class="list-group-item">
            <a [routerLink]="['/game', gameModel.id]">Play</a>
        </li>
    </ul>
    {{ gameModel | json }}
</div>