<header>
    <h1>Rock Paper Scissors</h1>
</header>
{{ signalrClientService.game | json }}
<div class="container">
    <div class="score-board">
        <div class="badge" id="user-label">P1 : <span *ngIf="signalrClientService.game.player1">{{ signalrClientService.game.player1.name }}</span></div>
        <div class="badge" id="comp-label">P2 : <span *ngIf="signalrClientService.game.player2">{{ signalrClientService.game.player2.name }}</span></div>
        <span id="user-score">{{signalrClientService.game.player1.score}}</span>:<span id="comp-score">{{signalrClientService.game.player2.score}}</span>
    </div>
    
    <div class="result">
        {{ signalrClientService.gameNotification }}
        <p *ngIf="status">{{signalrClientService.game.player1.previousSelection}} vs {{signalrClientService.game.player2.previousSelection}}{{signalrClientService.game.lastWinner}}</p>
    </div>

    <div *ngIf="signalrClientService.game.lastWinner !== weapon.None">
        test
    </div>
    
    <div class="choices">
        <div class="choice" id="rock">
            <img src="../assets/images/rock.png" (click)='userPick(weapon.Rock)'>
        </div>
        <div class="choice" id="paper">
            <img src="../assets/images/paper.png" (click)='userPick(weapon.Paper)'>
        </div>
        <div class="choice" id="scissors">
            <img src="../assets/images/scissors.png" (click)='userPick(weapon.Scissors)'>
        </div>
    </div>
    
    <p id="action-message" *ngIf="!status">You Can Make Your Move</p>
    <p id="action-message" *ngIf="status">Wait...</p>
  </div>    